@use "variable";
@use "home";
@use "search";
@use "view";

html {
  font-size: 16px;
  color: variable.$base-primary;
  background-color: variable.$background-secondary;
  font-family: -apple-system,
    "Montserrat",
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  cursor: default;
}

body {
  margin: 0;
}

header {
  padding: .5rem;
  text-align: center;
  background-color: variable.$background-primary;
  border-bottom: variable.$background-secondary 1px solid;


  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: variable.$brand-primary;
  }
}

h2 {
  margin: .5rem;
}

h3 {
  margin: 0 .5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p {
  margin: .5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  //  以下6行を消すとbodyでスクロールし始めるので残しておく。mainのところも同様
  overflow-y: scroll;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0;
  }

  .tabGroup {
    background-color: variable.$background-primary;

    .tab {
      display: block;
      padding: 0.8rem;
      color: variable.$base-primary;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        aspect-ratio: 1 / 1;
      }

      &:hover {
        background-color: variable.$background-secondary;
      }
    }

    .active-tab {
      background-color: variable.$background-secondary;
    }
  }

  main {
    height: 100%;
    flex-grow: 1;
    background-color: variable.$background-secondary;

    overflow-y: scroll;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      width: 0;
    }

  }
}

.input-box {
  display: flex;
  padding: .5rem;
  box-sizing: border-box;

  .input-text {
    width: 50px;
    padding: .2rem .5rem;
    flex-grow: 1;
    color: variable.$base-primary;
    background-color: variable.$background-primary;
    border: none;
    outline: none;
  }

  .button-action {
    padding: .3rem .5rem;
    color: variable.$background-primary;
    background-color: variable.$base-primary;
    border: none;
    cursor: pointer;
  }
}