@use "variable";
@use "search";
@use "view";

html {
  background-color: variable.$background-secondary;
  font-size: 16px;
  color: variable.$base-primary;
  font-family: -apple-system,
    "Montserrat",
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  cursor: default;
}

body {
  margin: 0;
}

header {
  padding: .5rem;
  text-align: center;
  border-bottom: variable.$background-secondary 1px solid;
  background-color: variable.$background-primary;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: variable.$brand-primary;
  }
}

h2 {
  margin: 1rem 0 0 1rem;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  //  以下6行を消すとbodyでスクロールし始めるので残しておく。mainのところも同様
  overflow-y: scroll;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0;
  }

  .tabGroup {
    background-color: variable.$background-primary;

    .tab {
      display: block;
      color: variable.$base-primary;
      padding: 0.8rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        aspect-ratio: 1 / 1;
      }

      &:hover {
        background-color: variable.$background-secondary;
      }
    }
  }

  main {
    background-color: variable.$background-secondary;
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      width: 0;
    }

  }
}