$brand-primary: #ec417a;
$base-primary: #efefef;
$base-secondary: #8e8e8e;
$background-primary: #121212;
$background-secondary: #292929;

html,
body {
  margin: 0;
  font-size: 16px;
  color: $base-primary;
  background-color: $background-primary;
  font-family: "Montserrat", "BIZ UDPGothic", sans-serif;
}

header {
  padding: .5rem;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: $brand-primary;
  }
}

a {
  text-decoration: none;
}